// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-hero {
  //width: 68px;
  padding-left: 16px;
  padding-right: 16px;
  height: 64px;
  line-height: 64px;
  overflow: hidden;
  margin-bottom: 4px;
}
