<!DOCTYPE html>
<html>
<head>
  <title>Life</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<a href="/events">Events</a> <a href="/logs">Logs</a><br><br>
<%= yield %>

</body>
</html>
